
@{
    ViewBag.Title = "EditGasto";
}
@model SGF.Models.EditGastoView

@{ 
    List<String> tipoItem = new List<string>();
    tipoItem.Add("Essencial");
    tipoItem.Add("Não-Essencial");
    tipoItem.Add("Investimento");

}

<link rel="stylesheet" href="~/Content/EditGastos.css" />

<h2>EditGasto</h2>
@{Session["GastoId"] = Model.gasto.id; }

        <div>@Model.gasto.id</div>
  
        <div id="Tabela">
            <table>
                <tr>
                    <td>Item</td>
                    <td>Valor</td>
                    <td>Tipo</td>
                    <td>Data</td>
                    <td>Ação</td>
                </tr>
                @{
                    foreach (Item item in Model.gasto.Item)
                    {
                <tr>
                    <td>@item.nome</td>
                    <td>@item.valor</td>
                    @{
                        if (item.tipo == 0 || item.tipo == null)
                        {
                            <td>Essencial</td> }
                        if (item.tipo == 1)
                        {
                            <td> Não Essencial</td> }
                        if (item.tipo == 2)
                        {
                            <td>Investimento</td> }
                    }


                    @{
                        if (item.dia == null)
                        {
                            <td>Sem data</td>
                        }
                        else
                        {
                            DateTime dia = new DateTime((int)Model.gasto.ano, (int)Model.gasto.mes, (int)item.dia);
                            <td>@dia.ToString("dd/MM/yyyy")</td>
                        }
                    }

                    <td><a href="@Url.Action("removerItem","Financeiro",item)" class="removerLink">Remover</a></td>
                </tr>
                    }
                }

                @using (Html.BeginForm("adicionarItem", "Financeiro", FormMethod.Post))
                {
                    <tr>
                        <td>@Html.TextBoxFor(m => m.itemNome)</td>
                        <td>@Html.TextBoxFor(m => m.itemValor)</td>
                        <td>@Html.DropDownListFor(m => m.itemTipo,new SelectList(tipoItem))</td>
                        <td>@DateTime.Now.ToString("dd/MM/yyyy")</td>
                        <td><input type="submit" value="Adicionar" class="adicionar" /></td>
                    </tr>
                    
                }
            </table>

            <a id="retornarLink" href="@Url.Action("PlanilhaDeGastos","Financeiro")"> « Retornar a Planilha de Gastos</a><br />
            <a id="removerTudoLink" href="@Url.Action("removerGasto","Financeiro",Model.gasto)"> Remover Tudo</a>
         </div>
           